/* Global style */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Sans-Serif, Arial, Helvetica;
}



/* Header */
header {
    padding: 80px;
    text-align: center;
    background: #e19891;
    color: white;
    background-image: url(./media/header\ 2.jpg);
    background-size: 100%;
    background-position-y: 78%;
}



/* Navbar*/
nav {
    display: flex;
    background-color: #333;
    justify-content: flex-start;
    z-index: 1;
}

nav.sticky {
    position: sticky;
    top: 10px;
    margin: 1em;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 18px 30px;
    transition: all 0.5s;
}

nav a:hover {
    background-color: #f1f1f1;
    color: black;
    padding: 18px 80px;
}

.left:hover {
    border-radius: 9px 0px 0px 9px;
}

#selected {
    text-decoration: underline 0.1em;
    text-underline-offset: 0.3em;
}



/* index main */
.spacing {
    background-color: white;
    width: 100%;
    height: 50px;
}

.cv.back {
    display: grid;
    grid-template-columns: 280px auto 280px;
    margin: auto;
    width: 90%;
}

.cv-L {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #777;
    display: flex;
    flex-direction: column;
    border-radius: 5px 0 0 5px;
}

.cv-C {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #999;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.cv-R {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #999;
    color: white;
    border-radius: 0 5px 5px 0;
}


div.profile {
    width: 100%;
    margin: auto;
}

div.textbox {
    background-color: aliceblue;
    margin: 2.5% 5% 5% 5%;
    border-radius: 10px;
    padding: 2.5% 2.5% 2.5% 2.5%;
}

img.profile {
    border-radius: 10px;
    width: 90%;
    margin: 5% 5% 2.5% 5%;
}

.cv-C.title {
    margin: 1em auto 0.5em auto;
    padding: 1em;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: xx-large;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .cv-C.title {
        margin: 1em 1em 0.5em 1em;
    }
}

.cv-C.content {
    height: min-content;
    margin: 0.5em auto auto auto;
    width: 90%;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 1em;
}

.cv-C.content > p {
    padding-bottom: 0.5em;
}

.skills {
    display: grid;
    grid-template-rows: 12% 33% 33% 22%;
    grid-template-columns: 100%;
    padding: 5% 5% 5% 5%;
    background-color: #555;
    width: 95%;
    margin: 5% 5% 5% 0;
    border-radius: 10px;
    height: 600px;
    color: inherit;
}

h2.title {
    border-radius: 0;
    margin: auto;
    color: whitesmoke;
    color: inherit;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
    border-top: solid black 1px;
    color: inherit;
}

.skill {
    color: whitesmoke;
}

.scorebox {
    color: inherit;
    display: flex;
    /* margin-right: 10%; */
}

.name {
    color: inherit;
    width: 50%;
}

.dots {
    color: inherit;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.dot {
    background-color: #555;
    height: 1em;
    width: 1em;
    border: 2px solid white;
    border-radius: 1em;
}

.dot.fill {
    background-color: white;
}

.text-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.question {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
}

.answer {
    margin-left: 10%;
    margin-right: 10%;
    font-size: medium;
}



/* Motivation content */
blockquote {
    width: 50%;
    margin: auto;
    border-left: solid black;
    text-align: left;
    padding-left: 1em;
}

.index {
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: larger;
}

.title {
    text-align: center;
    padding: 20px;
    font-size: xx-large;
}


.spacing {
    background-color: white;
    width: 100%;
    height: 50px;
}

.back {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
}

.inner {
    display: flex;
    background-color: #eee;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.image-side {
    width: 50%;
    display: flex;
}

.img {
    width: 100%;
    border-radius: 5px;
}



/* Footer */
footer {
    padding: 40px;
    text-align: center;
    width: 100%;
    background-image: url('./media/footer.webp');
    background-size: 100%;
    background-position-y: top;
    background-color: #ddd;
}

footer.stuck {
    position: fixed;
    left: 0;
    bottom: 0;
}



/* Animations */
@keyframes FadeIn {
    0% {
        translate: 50%;
        opacity: 0;
        visibility: visible;
    }
    
    100% {
        translate: 0%;
        opacity: 100;
        visibility: unset;
    }
}

.animate {
    animation: FadeIn 0.8s ease-out forwards;
    visibility: hidden;
}

.animate.second {
    animation-delay: 0.3s;
}

.animate.third {
    animation-delay: 0.6s;
}

.animate.fourth {
    animation-delay: 0.9s;
}

.animate.fifth {
    animation-delay: 1.2s;
}